.dnr-tile {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.dnr-tile-content {
    line-height: 1.6em;
    padding-top: 20px;
}

.dnr-tile-content > * {
    margin: 0;
}

.dnr-tile-content > * + * {
    margin-top: 1em;
}
